# --- THÔNG TIN ĐĂNG NHẬP EMQX CLOUD ---
# Thay thế các giá trị dưới đây bằng tài khoản thực tế của bạn
MQTT_USERNAME="nhap_username_cua_ban_vao_day"
MQTT_PASSWORD="nhap_password_cua_ban_vao_day"
MQTT_BROKER = "Path"
MQTT_PORT = 8883